<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <title>Zimmer erstellen</title>
</head>

<body>
    <div class="ui_container">
        <section layout:fragment="content">
            <div class="catalog">
                <h1>Zimmer erstellen</h1>
                </br>
                <form role="form" th:object="${RoomAddForm}" method="post">
                    <div class="field">
                        <label for="name">Name: </label>
                        <input id="name" name="name" type="text" required="required" th:value="${name}" />
                    </div>
                    </br>
                    <select id="type" name="type">
                        <option th:each="type : ${types}" th:text="${type}" th:value="${type.name()}"></option>
                    </select>
                    </br>
                    <div class="field">
                        <label for="price">Preis: </label>
                        <input id="price" name="price" type="number" min="0" required="required" th:value="${price}" />
                    </div>
                    </br>
                    <input type="checkbox" id="equipments" name="equipments" th:each="equipment : ${equipments}"
                        th:text="${equipment}" th:value="${equipment.name()}" />
                    <br>
                    <button type="submit" th:action="@{/manager/room/add}">Erstellen</button>
                </form>
                </br>
                <p><a th:href="@{/manager/rooms}">Zurück</a></p>
            </div>
        </section>
    </div>
</body>

</html>