<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <title>Urlaubsantrag</title>
</head>

<body>
    <div class="ui_container">
        <section layout:fragment="content">
            <div class="catalog">
                <h1 class="content_header">Urlaubsantrag</h1>
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>Mitarbeiter</th>
                            <th>Von</th>
                            <th>Bis</th>
                            <th>Status</th>
                            <th>Anmerkung</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td th:text="${vacationRequest.getStaff()}">staff</td>
                            <td th:text="${vacationRequest.getStart()}">start</td>
                            <td th:text="${vacationRequest.getEnd()}">end</td>
                            <td th:text="${vacationRequest.getState()}">status</td>
                            <td th:text="${vacationRequest.getComment()}">comment</td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${vacationRequest.isOpen()}">
                    <form role="form" method="post"
                        th:action="@{/manager/vacation-request/accept/{id}(id=${vacationRequest.getId()})}">
                        <button type="submit">akzeptieren</button>
                    </form>
                    <form role="form" method="post"
                        th:action="@{/manager/vacation-request/decline/{id}(id=${vacationRequest.getId()})}">
                        <button type="submit">ablehnen</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>

</html>