<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <title>Urlaubsanträge</title>
</head>

<body>
    <div class="ui_container">
        <section layout:fragment="content">
            <div class="catalog">
                <h1 class="content_header">Urlaubsanträge</h1>
                <br>
                <a th:href="@{/staff/vacation-request}">Urlaubsantrag einreichen</a>
                <div th:if="${vacationRequests.isEmpty()}">
                    <br><br>
                    <p>Keine Urlaubsanträge vorhanden!</p>
                </div>
                <table th:if="${!vacationRequests.isEmpty()}">
                    <thead>
                        <tr>
                            <th>Von</th>
                            <th>Bis</th>
                            <th>Status</th>
                            <th>Anmerkung</th>
                        </tr>
                    <tbody>
                        <tr th:each=" vacationRequest : ${vacationRequests}">
                            <td th:text="${vacationRequest.getStart()}">start</td>
                            <td th:text="${vacationRequest.getEnd()}">end</td>
                            <td th:text="${vacationRequest.getState()}">status</td>
                            <td th:text="${vacationRequest.getComment()}">comment</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>

</html>