<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
      	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
    <head>
        <title>Titel</title>
    </head>
    <body>
        <div class="ui_container">
            <section layout:fragment="content">
                <h1>content</h1>
            </section>
        </div>
    </body>
</html>